.messages {
  display: flex;
  flex-direction: column;
  gap: 5px;
  flex: 1;
  overflow-y: auto;
  margin-bottom: 20px;
}

.myMessage {
  align-self: flex-end;
  background-color: var(--message-background-my);
  text-align: right;
  margin-top: 2px;
  padding: 15px;
  border-radius: 10px;
  margin-right: 10px;
}

.theirMessage {
  align-self: flex-start;
  background-color: var(--message-background-their);
  padding: 15px;
  border-radius: 10px;
  margin-left: 20px;
}

.timestamp {
  display: block;
  font-size: 0.8em;
  color: #999;
  margin-top: 5px;
  text-align: right;
  top: 35px;
  right: 5px;
  text-align: right;
}
